* {
	box-sizing: border-box;
	font-family: "Karla", sans-serif;
}
h1, h2, h3, h4, h5, p {
	margin: 0 0 10px 0;
}
hr {
	display: block;
	border-top: 1px solid #c9c9c9;
	border-bottom: 1px solid #fbfbfb;
	margin: 15px 0;
}
body {
	background-color: #e5e5e5;
	height: 100vh;
	margin: 0;
	padding: 0;
}
.container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
.wrapper {
	background-color: #fff;
	box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 15%);
	width: 700px;
	margin: 0 auto;
}
section {
	align-items: center;
	border: 10px solid #fff;
	display: flex;
	height: 100%;
	justify-content: center;
	padding: 30px;
	width: 100%;
}
#ui_1 {
	background-image: url(images/bg.png);
	background-position: center center;
	background-size: cover;
}
.inner-parent {
	max-width: 400px;
}
.inner {
	background-color: rgb(0 0 0 / 80%);
    border-radius: 8px;
    color: #fff;
	margin: 0 0 10px 0;
	padding: 20px;
	text-align: center;
	width: inherit;
}
.inner > main {
	margin-bottom: 15px;
}
header > h1 {
	font-size: 4rem;
	margin: 0 0 10px 0;
}
.input-wrapper {
	margin: 10px 0;
}
.input-wrapper > input {
	border: 0 none;
	border-radius: 3px;
	height: 35px;
	padding: 0 10px;
}
#yourNameform button {
	background-color: #92b12a;
	border: 0 none;
	border-radius: 3px;
	color: #fff;
	font-size: 1.2rem;
	padding: 6px 14px;
}
#ui_2 {
	display: grid;
    grid-template-columns: 1fr 150px;
	padding: 0;
}
#statsWrapper {
	background-color: #e5e5e5;
	padding: 10px;
}
.item--label {
	color: #888;
	font-size: 11px;
	margin: 0 0 10px 0;
    text-transform: uppercase;
}
#profileAvatar {
	border: 2px solid #fff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
	border-radius: 100%;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin: 0 auto 10px auto;
	height: 80px;
	width: 80px;
}
#instruction {
	align-items: center;
	color: #fff;
	display: flex;
	justify-content: center;
	height: inherit;
	width: inherit;
}
.instruction-overlay {
	background-color: rgb(0 0 0 / 60%);
	border-radius: 8px;
	padding: 20px;
}
#startBtn {
	box-shadow: 0px 4px 5px 1px rgb(0 0 0 / 15%);
    background-color: #2882ff;
    padding: 14px 20px;
}
#zoomPicCanvas {
	height: 358px;
	position: relative;
	width: 100%;
}
#photo {
	background-repeat: no-repeat;
	background-position: center center;
	height: inherit;
	width: inherit;
}
#selection {
	align-items: center;
	bottom: 10px;
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
}
.selection-item {
	background-color: #fff;
	border-radius: 20px;
	border: 2px solid #1e1e1e;
	cursor: pointer;
	margin: 0 10px;
	text-transform: capitalize;
	padding: 8px 25px;
}
.selection-item.active, .selection-item:active {
	background-color: #92b12a;
	border-color: #295eaa;
	color: #fff;
}
.selection-item.disabled {
	cursor: not-allowed;
	background-color: #aaa;
}
button {
	background-color: #92b12a;
	border: 0 none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-size: 1.2rem;
	padding: 6px 14px;
}
#livesElem {
	top: 15px;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}
#startGame, #restart {
	display: block;
	width: 100%;
}
button:active {
	background-color: #829d2b !important;
	box-shadow: inset 0 2px 3px rgba(0,0,0,0.15);
}
.hidden {
	display: none !important;
}
.text-center {
	text-align: center;
}
.game-prompt {
	position: absolute;
	top: 0;
}
.countdown-point {
	color: #aaa;
}
.color-yellow {
	color: gold;
}
.text-capitalize, #youName {
	text-transform: capitalize;
}
.warning {
	font-size: 9px;
	margin-bottom: 0;
}
.mini-btn-grid {
	display: flex;
	align-items: center;
    justify-content: space-around;
}
.mini-btn {
	display: flex !important;
	padding: 6px;
	width: auto !important;
}
.mini-btn > img {
	width: 20px;
}
@media screen and (max-width: 767px) {
	.wrapper {
		box-shadow: none;
		height: 100vh;
		width: auto;
	}
	header > h1 {
		font-size: 2rem;
	}
	#yourNameform button {
		font-size: 1rem;
	}
	#ui_2 {
		border: 0 none;
		display: flex;
    	flex-flow: column;
		height: inherit;
		padding: 0;
		width: inherit;
	}
	#zoomPicWrapper {
		flex-grow: 1;
	}
	#zoomPicCanvas {
		height: calc(100vh - 57px);
	}
	#photo {
		width: 100vw;
	}
	#statsWrapper {
		align-items: center;
		display: grid;
    	grid-template-columns: repeat(3, auto) 80px;
		grid-gap: 5px;
		padding: 5px 0;
		width: 100%;
	}
	#statsWrapper > hr {
		display: none;
	}
	#profileAvatar {
		border: 1px solid #fff;
		height: 30px;
		margin-bottom: 3px;
		width: 30px;
	}
	.instruction-overlay {
		max-width: 80vw;
		width: auto;
	}
	#youName {
		font-size: 12px;
		margin: 0;
	}
	.stats-item {
		text-align: center;
	}
	.stats-item h1 {
		margin: 0;
	}
	.item--label {
		margin-bottom: 5px;
	}
	.selection-item {
		font-size: .9rem;
		padding: 6px 8px;
	}
	#restart {
		font-size: .8rem;
		margin: 0 auto;
		padding: 10px;
		width: auto;
	}
}

@media screen and (max-width: 414px) {
	header > h1, .instruction-overlay > h1 {
		font-size: 2.8rem;
	}
	.input-wrapper > input {
		font-size: 1rem;
	}
	#yourNameform button {
		font-size: 1.5rem;
		padding: 8px 14px;
	}
	.selection-item {
		font-size: 18px;
		margin: 0 5px;
		padding: 6px 12px;
	}
	.mini-btn-grid {
		grid-gap: 0;
	}
}